// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
  display: flex;
  justify-content: center;
}

.form-input {
  float: left;
  width: 530px;
  align-content: center;
}

.modal {
  margin: auto;
  width: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  width: 600px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(black, 0.3);
}

.close-button {
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px;
  color: #484848;
  font-weight: lighter;
}

.form-input input {
  color: grey;
  font-size: 19px;
  font-weight: 100;
  border: none;
  width: 450px;
  height: 26px;
  padding: 3px;
  // margin: 5px;
}

.greeting {
  color: #484848;
  padding: 5px;
  font-size: 24px;
  font-family: sans-serif;
}
.form-input button {
  font-weight: 500;
  border-radius: 2px;
  border: 0px;
  font-size: 18px;
  width: 522px;
  color: white;
  background-color: #ff5a5f;
  height: 50px;
  margin: 5px;
}

.form-input a {
  text-decoration: none;
  color: #008489;
  font-size: 20px;
  font-family: sans-serif;
}

.modal-link {
  text-decoration: none;
  color: #008489;
  font-size: 20px;
  font-family: sans-serif;
}

.foot span {
  font-weight: lighter;
  padding-right: 10px;
  font-size: 20px;
  color: #484848;
  font-family: sans-serif;
}

form {
  width: 515px;
  margin: 5px;
}

.foot {
  margin-top: 20px;
  padding-top: 20px;
  width: 522px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
}

.errors {
  color: #d93900;
  padding: 10px 5px;
  font-family: sans-serif;
}

.input-container {
  width: 510px;
  display: flex;
  float: left;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.input-image {
  height: 35px;
  margin: 5px;
  margin: auto;
}
