.map{
  height: 500px;
  width: 500px;
}

.search {
  position:relative;
  display: flex;
  justify-content: space-between;
}

.spot-map {
  float:right;
  padding:20px;
  margin-top: 50px;
  top: 50px;
}

.search-index {
  /* padding-left: 20px; */
  padding:15px;
  display: flex;
  flex-wrap:wrap;
  margin-left: -10px;
  margin-top: -10px;
}
