.search-input {
  border:none;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  font-family: sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  padding:10px;

}

.search-bar {
  background: white;
  border: 1px solid #dce0e0;
  border-radius: 3px;
  box-shadow: 5px #dce0e0;
  width: 400px;
  height: 46px;
}

.nav-search-bar {
  width:100px;
  padding: 15px;
  /* border: 1px solid #dce0e0; */
}

.search {
  height: 45px;
}

.search-icon {
  margin-top:1px;
  height: 27px;
  padding:8px;
  border-right: 1px solid #dce0e0;
}
