.index-img {
  height: 200px;
  width: 300px;
  border-radius: 3px;
}

.spot-title {
  font-size: 19px;
  line-height: 22px;
  color: #484848;
  font-weight: 500;
  text-decoration: none;
  padding-top:2px;
}

.spot-price {
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  font-weight: 300;
  text-decoration: none;
  padding-top:3px;
}

.spot-location {
  color: #484848;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  padding-top:3px;
}

.spot-item {
  text-decoration: none;
}
